body {
  margin: 0;
  padding: 0;
  background-color: #92929240;
}

#header {
  height: 20vh;
}

#main-navbar {
  background-color: white;
  height: 7vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-between;
}

#language-navbar {
  height: 10vh;
  border-color: rgb(22, 122, 198);
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

#search {
  width: 70%;
  display: flex;
  padding: 8px;
}

#search-field {
  width: 100%;
  margin: 0;
  padding: 4px;
}

#search-btn {
  padding: 3px;
  width: 10%;
  margin: 0;
  border-block: #d3d3d3;
}

#logo {
  display: flex;
  width: 25%;
  justify-content: flex-start;
  margin-left: 23px;
}

#sign-in {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 6px;
}

.sign-in-btn {
  border: none;
  height: 30px;
  background-color: rgb(22, 122, 198);
  text-align: center;
  display: inline-flex;
  padding: 7px;
  color: white;
  border-radius: 3px;
  margin-left: 10%;
}

.avatar-btn {
  border: none;
  height: 30px;
  background-color: rgb(22, 122, 198);
  text-align: center;
  display: inline-flex;
  padding: 7px;
  color: white;
  border-radius: 3px;
  margin-left: 10%;
}

#top-language-bar {
  height: 30%;
  background-color: rgb(22, 122, 198);
  color: white;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

#bottom-language-bar {
  height: 30%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 5px 20px;
  font-size: 13px;
}

#close-btn {
  background-color: transparent;
  border-style: none;
  width: 10px;
}

#choose-language {
  width: 15%;
  justify-content: space-around;
  display: flex;
}

#main {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

#video-player-container {
  padding-left: 1%;
  width: 65%;
}

#suggestions {
  width: 33%;
  float: left;
  background-color: white;
}

#video-description {
  background-color: white;
  padding: 15px 10px;
}

#more-details {
  background-color: white;
  padding: 15px 10px;
  margin-top: 20px;
  color: rgb(51, 51, 51);
  font-size: 15px;
}

#comments {
  background-color: white;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.loading-gif {
  font-size: 100%;
  background-image: url(data:image/gif;base64,R0lGODlhFAAUAJEDAMzMzLOzs39/f////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgADACwAAAAAFAAUAAACPJyPqcuNItyCUJoQBo0ANIxpXOctYHaQpYkiHfM2cUrCNT0nqr4uudsz/IC5na/2Mh4Hu+HR6YBaplRDAQAh+QQFCgADACwEAAIADAAGAAACFpwdcYupC8BwSogR46xWZHl0l8ZYQwEAIfkEBQoAAwAsCAACAAoACgAAAhccMKl2uHxGCCvO+eTNmishcCCYjWEZFgAh+QQFCgADACwMAAQABgAMAAACFxwweaebhl4K4VE6r61DiOd5SfiN5VAAACH5BAUKAAMALAgACAAKAAoAAAIYnD8AeKqcHIwwhGntEWLkO3CcB4biNEIFACH5BAUKAAMALAQADAAMAAYAAAIWnDSpAHa4GHgohCHbGdbipnBdSHphAQAh+QQFCgADACwCAAgACgAKAAACF5w0qXa4fF6KUoVQ75UaA7Bs3yeNYAkWACH5BAUKAAMALAIABAAGAAwAAAIXnCU2iMfaRghqTmMp1moAoHyfIYIkWAAAOw==);
  background-color: white;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-width: 0;
  border-style: none;
  margin: 0;
  padding: 0;
  border-color: white;
}

#video-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: rgb(226, 226, 226);
  border-bottom-width: 1px;
  padding-bottom: 7px;
}

#author-info {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

#views {
  text-align: right;
  margin: 0 0 2px;
  font-size: 19px;
}

#number_of_views {
  font-size: 25px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

#more-info-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.info-buttons {
  background-color: transparent;
  border: none;
  font-size: 15px;
  opacity: 0.5;
}

.button-text {
  vertical-align: middle;
}

#publish-details {
  border-bottom-style: solid;
  border-bottom-color: rgb(226, 226, 226);
  border-bottom-width: 1px;
  padding-bottom: 7px;
}

.show-more {
  text-align: center;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}

#avatar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suggestion-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 15px;
  opacity: 0.5;
}

#autoplay {
  display: flex;
  vertical-align: middle;
}

.suggested-video-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom-style: solid;
  border-bottom-color: rgb(226, 226, 226);
  border-bottom-width: 1px;
  padding-bottom: 13px;
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
}

.video-details {
  width: 50%;
  display: block;
  opacity: 0.8;
}

.details-header {
  margin-top: 0;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 4px;
  font-weight: bold;
}

.details-author {
  font-size: 12px;
  margin: 2px 0;
}

.details-views {
  font-size: 11px;
  margin: 4px 0;
}

#footer {
  background-color: white;
  margin-top: 4%;
}

#footer-image {
  margin-left: 1%;
  display: inline-block;
  vertical-align: middle;
}

#buttons-list {
  vertical-align: middle;
  display: inline-block;
}

.footer-button {
  margin: 0 14px 0 0;
  padding: 0;
  display: inline-block;
}

#footer-buttons-area {
  border-bottom-style: solid;
  border-bottom-color: rgb(226, 226, 226);
  border-bottom-width: 1px;
  padding-bottom: 7px;
}

.footer-links {
  padding: 15px 0 15px 8px;
}

.footer-link-items-list {
  margin: 0 0 0 8px;
  font-weight: 500;
}

.footer-link-item {
  display: inline;
  margin: 0 15px 0 0;
}

.link,
.link-small {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.link-small {
  font-size: 11px;
  font-weight: 500;
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 45px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 6px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(22, 122, 198);
}

input:focus + .slider {
  box-shadow: 0 0 1px  rgb(22, 122, 198);
}

input:checked + .slider::before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round::before {
  border-radius: 50%;
}

.suggested {
  width: 168px;
  height: 94px;
  font-size: 100%;
  background-color: transparent;
  position: relative;
  top: 0;
  border-width: 0;
  border-style: none;
  margin: 0;
  padding: 0;
  border-color: white;
}
